### Prova con due groupby

In [1]:
import pandas as pd
import numpy as np
import timeit as t
import matplotlib.pyplot as plt
import matplotlib.patches as patches
from scipy import optimize

In [2]:
dataset=pd.read_csv("data_000000.txt")
dataset['TIME']=dataset['BX_COUNTER']*25 + dataset['TDC_MEAS']*25/30 
fpga=dataset['FPGA']==1 
channel=(dataset['TDC_CHANNEL']>64)&(dataset['TDC_CHANNEL']<=128) 
trigger=dataset['TDC_CHANNEL'] == 139 

detectors=[~fpga&~channel,~fpga&channel,fpga&~channel,fpga&channel] 
for i in range(len(detectors)) : 
    dataset.loc[detectors[i],'DETECTOR']=i+1 
dataset.loc[trigger,'DETECTOR']=0 
rest = dataset['TDC_CHANNEL']%4 
dic_replace = {0:1, 2:2, 3:3, 1:4}
dataset['LAYER']= rest
dataset['LAYER'].replace(dic_replace, inplace=True)
dataset.loc[trigger,'LAYER']=0 
dataset = dataset.drop(['HEAD','FPGA'],axis=1) 
dataset

,TDC_CHANNEL,ORBIT_CNT,BX_COUNTER,TDC_MEAS,TIME,DETECTOR,LAYER
0,116,1897414884,1533.0,24.0,38345.000000,4.0,1
1,71,1897414887,1650.0,21.0,41267.500000,4.0,3
2,67,1897414914,980.0,8.0,24506.666667,4.0,3
3,70,1897414922,1287.0,8.0,32181.666667,4.0,2
4,57,1897414922,2162.0,22.0,54068.333333,1.0,4
...,...,...,...,...,...,...,...
1292121,139,1920940255,2514.0,0.0,62850.000000,0.0,0
1292122,35,1920940255,2512.0,16.0,62813.333333,3.0,3
1292123,37,1920940255,2513.0,5.0,62829.166667,3.0,4
1292124,105,1920940255,2510.0,17.0,62764.166667,4.0,4
1292125,36,192,NaN,NaN,NaN,3.0,1

In [3]:
dataset['TDC_CHANNEL'].any()==137 and dataset['TDC_CHANNEL'].any()==138
# sono stati eliminati tutti i trigger associati agli scintillatori

False

In [4]:
dataset.groupby(['ORBIT_CNT']).groups

{192: [1292125], 1897414884: [0], 1897414887: [1], 1897414914: [2], 1897414922: [3, 4], 1897414934: [5, 6, 7, 8, 9, 10, 11], 1897414940: [12], 1897414952: [13], 1897414956: [14], 1897414964: [15], 1897414976: [16, 17], 1897414996: [18, 19], 1897415018: [20], 1897415055: [21], 1897415058: [22, 23], 1897415068: [24, 25, 26], 1897415077: [27], 1897415080: [28], 1897415082: [29], 1897415091: [30], 1897415099: [31, 32], 1897415110: [33, 34], 1897415118: [35], 1897415128: [36, 37], 1897415130: [38], 1897415131: [39], 1897415134: [40], 1897415137: [41], 1897415144: [42], 1897415145: [43], 1897415150: [44], 1897415154: [45], 1897415157: [46], 1897415160: [47], 1897415171: [48], 1897415176: [49], 1897415182: [50], 1897415194: [51], 1897415199: [52], 1897415202: [53], 1897415204: [54], 1897415207: [55, 56], 1897415227: [57], 1897415240: [58], 1897415247: [59], 1897415251: [60], 1897415254: [61, 62], 1897415269: [63], 1897415290: [64], 1897415293: [65], 1897415294: [66], 1897415295: [67], 1897415300: [68, 69], 1897415301: [70, 71, 72, 73, 74], 1897415351: [75], 1897415364: [76, 77, 78], 1897415373: [79], 1897415389: [80], 1897415394: [81], 1897415395: [82], 1897415399: [83], 1897415418: [84], 1897415425: [85, 86, 87, 88, 89], 1897415435: [90, 91], 1897415463: [92, 93], 1897415466: [94, 95], 1897415472: [96], 1897415475: [97, 98, 99], 1897415482: [100, 101], 1897415493: [102, 103], 1897415496: [104], 1897415504: [105, 106], 1897415508: [107], 1897415520: [108, 109, 110], 1897415524: [111], 1897415544: [112, 113, 114, 115, 116], 1897415554: [117], 1897415558: [118], 1897415560: [119], 1897415569: [120], 1897415572: [121], 1897415578: [122, 123], 1897415582: [124], 1897415589: [125], 1897415610: [126], 1897415613: [127], 1897415615: [128], 1897415620: [129], 1897415629: [130], 1897415638: [131], 1897415642: [132], 1897415667: [133, 134, 135, 136, 137], 1897415674: [138, 139, 140, 141, 142, 143], 1897415675: [144], 1897415676: [145], 1897415682: [146, 147], 1897415683: [148], 1897415684: [149], 1897415692: [150], 1897415702: [151], ...}

In [27]:
#dataset.groupby(['ORBIT_CNT']).get_group('1897414934') #Ã¨ lentissimo
prova = dataset.loc[dataset.groupby(['ORBIT_CNT']).groups.get(1920940255)] # questo ha detector diversi, vediamo di selezionare soltanto quelli che compaiono piÃ¹ volte
prova = prova.drop(prova[prova['DETECTOR']==0].index)  
indici = prova[prova['DETECTOR']!=(prova.DETECTOR.mode().values)[0]].index
prova = prova.drop(indici)
prova

,TDC_CHANNEL,ORBIT_CNT,BX_COUNTER,TDC_MEAS,TIME,DETECTOR,LAYER
1292117,102,1920940255,2510.0,22.0,62768.333333,4.0,2
1292119,106,1920940255,2507.0,24.0,62695.000000,4.0,2
1292120,101,1920940255,2510.0,14.0,62761.666667,4.0,4
1292124,105,1920940255,2510.0,17.0,62764.166667,4.0,4

In [30]:
# DECIDO DI FARE UN GROUPBY PER ORBITE VISTA LA RARITA' DEL PASSAGGIO DI PARTICELLE 
# elimino gruppi di orbite con meno di tre hits 
# un'altra cosa prima
# def clean(group):
#     group1=group.drop(group[group['DETECTOR']==0].index)     
#     detector=group1.DETECTOR.mode().values 
#     indices=group1[group1['DETECTOR']!=detector[0]].index 
#     group=group.drop(indices) 
#     return group
# filtered1=dataset.groupby(['ORBIT_CNT'],group_keys=False)\
#                     .apply(clean)\
#                     .dropna()\
#                     .reset_index()\
#                     .drop(['index'],axis=1)
def cut(group):
    if group.shape[0]>2: return group
    else: return None                         
filtered1=dataset.groupby(['ORBIT_CNT'],group_keys=False)\
                    .apply(cut)\
                    .dropna()\
                    .reset_index()\
                    .drop(['index'],axis=1)
# elimino i gruppi di orbite prima senza trigger activation e poi con piÃ¹ di una trigger activation, motivo per il quale non mi aspetto piÃ¹ detector dentro uno stesso evento               
def trigger(group):
    if (group['DETECTOR']!=0).all(): return None
    else: return group                                    
filtered2=filtered1.groupby(['ORBIT_CNT'],group_keys=False)\
                    .apply(trigger)\
                    .dropna()\
                    .reset_index()\
                    .drop(['index'],axis=1)

def multiple_orbits(group):
    if group[group['DETECTOR']==0].shape[0]>1: return None
    else: return group                                     
filtered3=filtered2.groupby(['ORBIT_CNT'],group_keys=False)\
                    .apply(multiple_orbits)\
                    .dropna()\
                    .reset_index()\
                    .drop(['index'],axis=1)
# analizzo gruppo per gruppo quanti detector compaiono e mantengo soltanto quelle hits associate al detector che compare il maggior numero di volte. Questo cut andrebbe fatto prima di quello in cui selezioniamo i gruppi con piÃ¹ di tre hits perchÃ¨ se eliminiamo da un gruppo delle hits corrispondenti ad un detector in minoranza allora potrebbe capitare che il gruppo rimanente contenga meno di tre hits, perchÃ¨ erano piÃ¹ di tre ma comprese quelle del detector eliminato!
def clean(group):
   #group1=group.drop(group[group['DETECTOR']==0].index)     
   detector=group.DETECTOR.mode().values 
   indices=group[group1['DETECTOR']!=detector[0]].index 
   group=group.drop(indices) 
   return group
filtered4=filtered3.groupby(['ORBIT_CNT'],group_keys=False)\
                   .apply(clean)\
                   .dropna()\
                   .reset_index()\
                   .drop(['index'],axis=1)

In [31]:
filtered4.shape

(503050, 7)

In [32]:
filtered5 = filtered4.groupby(['ORBIT_CNT'],group_keys=False)\
                    .apply(cut)\
                    .dropna()\
                    .reset_index()\
                    .drop(['index'],axis=1)

In [33]:
filtered5.shape

(503044, 7)

In [36]:
def clean1(group):
   #group1=group.drop(group[group['DETECTOR']==0].index)     
   detector=group.DETECTOR.mode().values 
   indices=group[group['DETECTOR']!=detector[0]].index 
   group=group.drop(indices) 
   return group
ua = dataset.groupby(['ORBIT_CNT'],group_keys=False)\
                    .apply(clean1)\
                    .dropna()\
                    .reset_index()\
                    .drop(['index'],axis=1)
# IL PROBLEMA DI APPLICARE PRIMA CLEAN STA PROPRIO NELLA FUNZIONE PERCHE' CI SONO AD ESEMPIO EVENTI CHE CONTENGONO SOLTANTO L'ATTIVAZIONE DI TRIGGER E QUINDI APPENA LA ELIMINO NASCE UN PROBLEMA ALLORA: CAMBIO FUNZIONE CLEAN IN MODO CHE IN OGNI GRUPPO CI SIA SEMPRE ALMENO UNA HIT E QUINDI UN DETECTOR DA SCEGLIERE COME PREFERITO. (HO SOLTANTO ELIMINATO LA RIGA CON IL DROP DEI TRIGGER NELLA FUNZIONE CLEAN DI PARTENZA)

In [38]:
ua1 = ua.groupby(['ORBIT_CNT'],group_keys=False)\
                    .apply(cut)\
                    .dropna()\
                    .reset_index()\
                    .drop(['index'],axis=1)

In [39]:
ua1.shape

(533413, 7)

In [41]:
ua1.loc[ua1.groupby(['ORBIT_CNT']).groups.get(1920940255)]

,TDC_CHANNEL,ORBIT_CNT,BX_COUNTER,TDC_MEAS,TIME,DETECTOR,LAYER
533409,102.0,1.920940e+09,2510.0,22.0,62768.333333,4.0,2.0
533410,106.0,1.920940e+09,2507.0,24.0,62695.000000,4.0,2.0
533411,101.0,1.920940e+09,2510.0,14.0,62761.666667,4.0,4.0
533412,105.0,1.920940e+09,2510.0,17.0,62764.166667,4.0,4.0