In [1]:
!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt

--2021-01-08 22:39:06--  https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt
Resolving www.dropbox.com... 162.125.69.18
Connecting to www.dropbox.com|162.125.69.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/xvjzaxzz3ysphme/data_000637.txt [following]
--2021-01-08 22:39:06--  https://www.dropbox.com/s/raw/xvjzaxzz3ysphme/data_000637.txt
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc22447f96429c39155d3cacf354.dl.dropboxusercontent.com/cd/0/inline/BGoBCZHhEfh-B-2Db6migsVx6p1cNYNf_aiqhk3pEsBLE_Tr9INKQ2wnN0c8Fj7bVChJ87M5noUnrrmkPnscKdP-DDYe0rI07EsU4dOPYXfvLD-QjbQkwSseBJmBQCt5be4/file# [following]
--2021-01-08 22:39:07--  https://uc22447f96429c39155d3cacf354.dl.dropboxusercontent.com/cd/0/inline/BGoBCZHhEfh-B-2Db6migsVx6p1cNYNf_aiqhk3pEsBLE_Tr9INKQ2wnN0c8Fj7bVChJ87M5noUnrrmkPnscKdP-DDYe0rI07EsU4dOPYXfvLD-QjbQkwSseBJmBQCt5be4/file
Resolving uc22447f96429c39155d3cacf354.dl.dropboxusercontent.com... 162.125.69.15
Connecting to uc22447f96429c39155d3cacf354.dl.dropboxusercontent.com|162.125.69.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 33179236 (32M) [text/plain]
Saving to: 'data_000637.txt.1'

data_000637.txt.1   100%[===================>]  31.64M  6.52MB/s    in 7.2s

2021-01-08 22:39:15 (4.37 MB/s) - 'data_000637.txt.1' saved [33179236/33179236]

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
data = pd.read_csv('data_000637.txt')
data['t'] = data['BX_COUNTER']*25 + data['TDC_MEAS']*25/30
#data['ORBIT_CNT']*3564*25 + 
#data['t'] = data['t'].values - data['t'].values.min()
#data = data.sort_values('t')
#data['t'].values[1:] = data['t'].values[1:] - data['t'].values[:-1]

In [16]:
data_o1 = data[data['ORBIT_CNT'] == 3869200167]

In [17]:
data_o1_d1 = data_o1[data_o1['TDC_CHANNEL'] <= 64]

In [21]:
data_o1_d1_ch = data_o1_d1['TDC_CHANNEL'].values

In [25]:
l1 = data_o1_d1_ch[(data_o1_d1_ch-4)%4 == 0]
l1

array([64, 64, 60, 64, 36, 56,  8, 60, 60, 56])

In [26]:
l2 = data_o1_d1_ch[(data_o1_d1_ch-2)%4 == 0]
l2

array([62,  6, 10, 38, 58, 62, 62, 54, 54])

In [27]:
l3 = data_o1_d1_ch[(data_o1_d1_ch-3)%4 == 0]
l3

array([63, 63,  7, 63, 59, 59, 51, 59])

In [28]:
l4 = data_o1_d1_ch[(data_o1_d1_ch-1)%4 == 0]
l4

array([61,  5, 53, 57, 61, 61, 61, 53, 53, 57])

In [54]:
data_o1_d1[np.absolute(data_o1_d1['t'] - data_o1_d1['t'][40]) < 350]

    HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS             t
36     1     0           59  3869200167        3176         8  79406.666667
37     1     0           53  3869200167        3181         8  79531.666667
38     1     0           60  3869200167        3175        17  79389.166667
40     1     0           54  3869200167        3184        28  79623.333333
41     1     0           56  3869200167        3177        20  79441.666667
42     1     0           57  3869200167        3187        17  79689.166667

In [86]:
quads = []

dataprov = data_o1_d1[np.absolute(data_o1_d1['t'] - data_o1_d1['t'][2]) < 350]
quads.append(dataprov)

for i in data_o1_d1['t']:
    if dataprov['t'].values[0] != data_o1_d1[np.absolute(data_o1_d1['t'] - i) < 350]['t'].values[0]:
        quads.append(dataprov)

quads = np.array(quads)

In [88]:
dataprov

   HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS             t
2     1     0           63  3869200167        2553        28  63848.333333
3     1     0           64  3869200167        2558        19  63965.833333

In [85]:
quads[[i.index.size == 4 for i in quads]]

AttributeError: 'numpy.ndarray' object has no attribute 'index'

In [73]:
data_o1_d1

    HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS             t
2      1     0           63  3869200167        2553        28  63848.333333
3      1     0           64  3869200167        2558        19  63965.833333
4      1     0           64  3869200167        2760        25  69020.833333
5      1     0           63  3869200167        2762         4  69053.333333
6      1     0           61  3869200167        2772        14  69311.666667
8      1     0           62  3869200167        2774        21  69367.500000
9      1     0           60  3869200167        2788         7  69705.833333
10     1     1            7  3869200167        2785         4  69628.333333
11     1     0           64  3869200167        2786        19  69665.833333
12     1     1            6  3869200167        2792        18  69815.000000
13     1     0           36  3869200167        2791        23  69794.166667
14     1     0           56  3869200167        2789         3  69727.500000
16     1     1            8  3869200167        2787        14  69686.666667
17     1     0           63  3869200167        2790        10  69758.333333
18     1     1            5  3869200167        2795         4  69878.333333
19     1     0           53  3869200167        2796        26  69921.666667
20     1     1           10  3869200167        2789        14  69736.666667
21     1     0           57  3869200167        2789        10  69733.333333
22     1     0           61  3869200167        2790        23  69769.166667
23     1     0           38  3869200167        2799        15  69987.500000
24     1     0           58  3869200167        2795        19  69890.833333
25     1     0           62  3869200167        2797        14  69936.666667
26     1     0           59  3869200167        2799        14  69986.666667
27     1     0           59  3869200167        3081        21  77042.500000
28     1     0           61  3869200167        3081         1  77025.833333
29     1     0           60  3869200167        3083        20  77091.666667
31     1     0           62  3869200167        3079         4  76978.333333
32     1     0           61  3869200167        3085        25  77145.833333
33     1     0           54  3869200167        3134         4  78353.333333
34     1     0           53  3869200167        3136        25  78420.833333
35     1     0           51  3869200167        3146        20  78666.666667
36     1     0           59  3869200167        3176         8  79406.666667
37     1     0           53  3869200167        3181         8  79531.666667
38     1     0           60  3869200167        3175        17  79389.166667
40     1     0           54  3869200167        3184        28  79623.333333
41     1     0           56  3869200167        3177        20  79441.666667
42     1     0           57  3869200167        3187        17  79689.166667