In [13]:
import os
import numpy as np
import pandas as pd
from scipy import interpolate
import glob

In [14]:
!ls ../../data/Run000260/*

../../data/Run000260/data_000000.txt  ../../data/Run000260/data_000005.txt
../../data/Run000260/data_000001.txt  ../../data/Run000260/data_000006.txt
../../data/Run000260/data_000002.txt  ../../data/Run000260/data_000007.txt
../../data/Run000260/data_000003.txt  ../../data/Run000260/data_139.txt
../../data/Run000260/data_000004.txt  ../../data/Run000260/fil_data_000000.txt

In [15]:
#identify mutiple events inside the same orbit

def Identify_Events(x):
    
    if (x.t.max() - x.t.min()) < 415:
    
        x['EVENT'] = 1
        return x
    
    else:
        
        t1 = x.t.iloc[0]
        x1 =  x[np.abs(x.t.values - t1) < 415]
        x1['EVENT'] = 1
        
        xc = x[np.abs(x.t.values - t1) >= 415]
        i = 1
        while(xc.size != 0):
            
            i += 1
            t2 = xc.t.iloc[0]
            x2 =  xc[np.abs(xc.t.values - t2) <= 415]
            x2['EVENT'] = i
            x1 = pd.concat([x1,x2])
            xc = xc[np.abs(xc.t.values - t2) > 415]
        
        return x1

In [16]:
#define the function that for esch orbit return the orbit with the values that have difference with the time of the 
#TDC_channel 137 or 138 less than the T_max 
#ridondance in the triggers (the sames in different ambiguity), will be solved later
#computing the drift time

#define the function that for esch orbit return the orbit with the values that have difference with the time of the 
#TDC_channel 139 less than the T_max 
#ridondance in the triggers (the sames in different ambiguity), will be solved later
#computing the drift time

def Time_Max_Filer(x):
    
        if (x.DETECTOR==0).sum() == 0:
            return None
            
        if (x.DETECTOR==0).sum() == 1:
        
            trigger_time = x[x.DETECTOR==0].t.values[0]
            x1 =  x[(x.t.values - trigger_time < 415)*(x.t.values - trigger_time > 0)]
            x1['AMBIGUITY'] = 1
            x1['DRIFT_TIME'] = x1.t.values - trigger_time
            
            return x1
            
        else:
                
            trigger_time = x[x.DETECTOR==0].t.values[0]
            x1 =  x[(x.t.values - trigger_time < 415)*(x.t.values - trigger_time > 0)]
            x1['AMBIGUITY'] = 1
            x1['DRIFT_TIME'] = x1.t.values - trigger_time
            
        
            i = 1
            for trigger_time in x[x.DETECTOR==0].t.values[1:]:
                i += 1
                x2 =  x[(x.t.values - trigger_time < 415)*(x.t.values - trigger_time > 0)]
                x2['AMBIGUITY'] = i
                x2['DRIFT_TIME'] = x2.t.values - trigger_time
                
                x1 = pd.concat([x1,x2])
                
            return x1

In [17]:
DataFrames = []

In [18]:
for filename in glob.glob('../../data/Run000260/*')[:1]:
    
    #try:
    data = pd.read_csv(filename)

    #adding time column
    data['t'] = data['BX_COUNTER']*25 + data['TDC_MEAS']*25/30


    #List of conditions to assign a hit to a detector
    fpga = data['FPGA'] == 1 
    channel = (data['TDC_CHANNEL'] > 64) & (data['TDC_CHANNEL'] <= 128) #condition on TDC_CHANNEL
    trigger = data['TDC_CHANNEL'] >= 129 

    conditions = [trigger, ~fpga & ~channel, ~fpga & channel, fpga & ~channel, fpga & channel]
    values = [0, 1, 2, 3, 4]

    #adding detector column
    data['DETECTOR'] = np.select(conditions, values)


    #List of conditions to assign a hit to a layer
    layer_4 = data['TDC_CHANNEL']%4 == 0 
    layer_3 = (data['TDC_CHANNEL'] + 2) % 4 == 0
    layer_2 = (data['TDC_CHANNEL'] + 1) % 4 == 0
    layer_1 = (data['TDC_CHANNEL'] + 3) % 4 == 0
    trigger = data['TDC_CHANNEL'] >= 129 

    #adding layer column
    conditions = [trigger, layer_4, layer_3, layer_2, layer_1]
    values = [0, 4, 3, 2, 1]

    data['LAYER'] = np.select(conditions, values)

    #add column coordinate of the cell
    data['COLUMN'] = ((data['TDC_CHANNEL'] % 64 
                   - interpolate.BarycentricInterpolator([1,2,3,4],[1,3,2,4])(data['LAYER'])) / 4 + 1).astype(int)

    #set column value to 0 when trigger is activate
    data.loc[data['DETECTOR'] == 0, 'COLUMN'] = 0
    
    #i consider orbit only with scintillators, i drop other trigger raws
    data_scint = data.groupby('ORBIT_CNT', group_keys=False).filter(lambda x: (138 in x.TDC_CHANNEL.values) or (137 in x.TDC_CHANNEL.values))
    data_scint = data_scint[data_scint['TDC_CHANNEL'] != 130]
    data_scint = data_scint[data_scint['TDC_CHANNEL'] != 129]
    data_scint = data_scint[data_scint['TDC_CHANNEL'] != 139]

    #adding events column
    data_scint = data_scint.groupby('ORBIT_CNT', group_keys=False).apply(Identify_Events)

    #look at the function
    data_scint = data_scint.groupby(['ORBIT_CNT', 'EVENT'], group_keys=False).apply(Time_Max_Filer)

    #dropping trigger events
    data_scint = data_scint[data_scint['DETECTOR'] != 0]

    #dropping events with number of hits hit less than 3 (ambiguity not solvable)
    data_scint = data_scint.groupby(['ORBIT_CNT', 'EVENT', 'AMBIGUITY']).filter(lambda x: len(x) >= 3)

    #dropping some columns
    data_scint = data_scint.drop(['HEAD', 'FPGA', 'TDC_CHANNEL', 'BX_COUNTER', 'TDC_MEAS'], axis = 1)
        
    DataFrames.append(data_scint)
        
        
   # except:
   #None

In [ ]:
DataFrames

In [16]:
data_scint

,HEAD,FPGA,TDC_CHANNEL,ORBIT_CNT,BX_COUNTER,TDC_MEAS,t,DETECTOR,LAYER,COLUMN,EVENT
144,1,0,56,1927216791,342,29,8574.166667,1,4,14,1
145,1,0,25,1927216791,346,21,8667.500000,1,1,7,1
146,1,0,123,1927216791,349,23,8744.166667,2,2,15,1
147,1,0,27,1927216791,344,3,8602.500000,1,2,7,1
149,1,0,53,1927216791,352,18,8815.000000,1,1,14,1
150,1,0,125,1927216791,351,12,8785.000000,2,1,16,1
151,1,0,126,1927216791,348,7,8705.833333,2,3,16,1
152,1,0,54,1927216791,354,27,8872.500000,1,3,14,1
153,1,0,124,1927216791,352,6,8805.000000,2,4,15,1
154,1,1,137,1927216791,378,12,9460.000000,0,0,0,2
155,1,0,138,1927216791,378,11,9459.166667,0,0,0,2
1445,1,1,106,1927218156,3120,9,78007.500000,4,3,11,1
1446,1,1,107,1927218156,3121,19,78040.833333,4,2,11,1
1447,1,1,105,1927218156,3124,12,78110.000000,4,1,11,1
1448,1,1,137,1927218156,3151,12,78785.000000,0,0,0,2
1450,1,0,137,1927218156,3151,1,78775.833333,0,0,0,2
1453,1,0,138,1927218156,3151,11,78784.166667,0,0,0,2
3324,1,1,32,1927220139,1971,12,49285.000000,3,4,8,1
3325,1,1,67,1927220139,1971,9,49282.500000,4,2,1,1
3326,1,1,74,1927220139,1971,25,49295.833333,4,3,3,1
3327,1,1,2,1927220139,1972,18,49315.000000,3,3,1,1
3328,1,1,60,1927220139,1976,21,49417.500000,3,4,15,1
3329,1,1,81,1927220139,1971,9,49282.500000,4,1,5,1
3331,1,1,14,1927220139,1972,21,49317.500000,3,3,4,1
3332,1,1,65,1927220139,1971,18,49290.000000,4,1,1,1
3333,1,1,76,1927220139,1971,18,49290.000000,4,4,3,1
3334,1,1,20,1927220139,1971,28,49298.333333,3,4,5,1
3335,1,1,68,1927220139,1971,0,49275.000000,4,4,1,1
3336,1,1,79,1927220139,1972,7,49305.833333,4,2,4,1
3337,1,1,27,1927220139,1970,29,49274.166667,3,2,7,1
...,...,...,...,...,...,...,...,...,...,...,...
1291782,1,1,67,1930269590,1370,14,34261.666667,4,2,1,2
1291783,1,1,73,1930269590,1371,29,34299.166667,4,1,3,2
1291784,1,0,59,1930269590,1370,24,34270.000000,1,2,15,2
1291785,1,1,10,1930269590,1372,0,34300.000000,3,3,3,2
1291786,1,1,39,1930269590,1371,19,34290.833333,3,2,10,2
1291787,1,1,74,1930269590,1371,0,34275.000000,4,3,3,2
1291788,1,0,60,1930269590,1377,21,34442.500000,1,4,15,2
1291790,1,1,17,1930269590,1373,18,34340.000000,3,1,5,2
1291791,1,1,65,1930269590,1374,23,34369.166667,4,1,1,2
1291792,1,1,2,1930269590,1371,29,34299.166667,3,3,1,2
1291793,1,1,68,1930269590,1371,20,34291.666667,4,4,1,2
1291794,1,1,11,1930269590,1374,15,34362.500000,3,2,3,2
1291796,1,1,66,1930269590,1374,0,34350.000000,4,3,1,2
1291797,1,1,73,1930269590,1384,10,34608.333333,4,1,3,2
1291798,1,0,57,1930269590,1382,29,34574.166667,1,1,15,2
1291799,1,1,18,1930269590,1371,16,34288.333333,3,3,5,2
1291800,1,1,70,1930269590,1371,17,34289.166667,4,3,2,2
1291801,1,0,62,1930269590,1381,12,34535.000000,1,3,16,2
1291802,1,1,4,1930269590,1373,11,34334.166667,3,4,1,2
1291803,1,1,42,1930269590,1379,8,34481.666667,3,3,11,2
1291804,1,1,12,1930269590,1380,24,34520.000000,3,4,3,2
1291805,1,1,72,1930269590,1379,28,34498.333333,4,4,2,2
1291806,1,1,16,1930269590,1383,5,34579.166667,3,4,4,2
1291807,1,1,69,1930269590,1383,22,34593.333333,4,1,2,2
1291808,1,1,19,1930269590,1383,25,34595.833333,3,2,5,2
1291809,1,1,5,1930269590,1372,7,34305.833333,3,1,2,2
1291810,1,1,6,1930269590,1373,18,34340.000000,3,3,2,2
1291811,1,1,3,1930269590,1379,0,34475.000000,3,2,1,2
1291812,1,1,4,1930269590,1378,14,34461.666667,3,4,1,2
1291813,1,1,3,1930269590,1382,14,34561.666667,3,2,1,2

In [ ]:
pd.concat(DataFrames).to_csv('../../data/Run000333/scint_data.txt', index = False)

In [31]:
pd.read_csv('../../data/Run000333/scint_data.txt')

,ORBIT_CNT,t,DETECTOR,LAYER,COLUMN,EVENT,AMBIGUITY,DRIFT_TIME
0,3879572192,16957.500000,1,2,15,4,1,120.000000
1,3879572192,17180.833333,3,4,11,4,1,343.333333
2,3879572192,17107.500000,1,3,13,4,1,270.000000
3,3879572192,16957.500000,1,2,15,4,2,125.833333
4,3879572192,17180.833333,3,4,11,4,2,349.166667
5,3879572192,17107.500000,1,3,13,4,2,275.833333
6,3879572192,16957.500000,1,2,15,4,3,125.833333
7,3879572192,17180.833333,3,4,11,4,3,349.166667
8,3879572192,17107.500000,1,3,13,4,3,275.833333
9,3879572192,16957.500000,1,2,15,4,4,130.000000
10,3879572192,17180.833333,3,4,11,4,4,353.333333
11,3879572192,17107.500000,1,3,13,4,4,280.000000
12,3879572827,83448.333333,1,2,15,26,1,335.833333
13,3879572827,83360.000000,1,3,16,26,1,247.500000
14,3879572827,83460.000000,1,3,14,26,1,347.500000
15,3879572827,83384.166667,1,4,15,26,1,271.666667
16,3879572827,83462.500000,1,4,14,26,1,350.000000
17,3879572827,83448.333333,1,2,15,26,2,338.333333
18,3879572827,83360.000000,1,3,16,26,2,250.000000
19,3879572827,83460.000000,1,3,14,26,2,350.000000
20,3879572827,83384.166667,1,4,15,26,2,274.166667
21,3879572827,83462.500000,1,4,14,26,2,352.500000
22,3879572827,83448.333333,1,2,15,26,3,341.666667
23,3879572827,83360.000000,1,3,16,26,3,253.333333
24,3879572827,83460.000000,1,3,14,26,3,353.333333
25,3879572827,83384.166667,1,4,15,26,3,277.500000
26,3879572827,83462.500000,1,4,14,26,3,355.833333
27,3879572827,83448.333333,1,2,15,26,4,345.833333
28,3879572827,83360.000000,1,3,16,26,4,257.500000
29,3879572827,83460.000000,1,3,14,26,4,357.500000
...,...,...,...,...,...,...,...,...
69825,3870460161,19680.000000,3,4,3,5,3,150.000000
69826,3870460161,19725.000000,3,1,4,5,3,195.000000
69827,3870460161,19691.666667,3,2,1,5,3,161.666667
69828,3870460161,19818.333333,3,3,4,5,3,288.333333
69829,3870460161,19765.000000,1,4,5,5,4,231.666667
69830,3870460161,19830.000000,1,2,16,5,4,296.666667
69831,3870460161,19733.333333,1,4,0,5,4,200.000000
69832,3870460161,19810.833333,1,1,16,5,4,277.500000
69833,3870460161,19652.500000,3,4,4,5,4,119.166667
69834,3870460161,19603.333333,3,4,1,5,4,70.000000
69835,3870460161,19680.000000,3,4,3,5,4,146.666667
69836,3870460161,19725.000000,3,1,4,5,4,191.666667
69837,3870460161,19691.666667,3,2,1,5,4,158.333333
69838,3870460161,19818.333333,3,3,4,5,4,285.000000
69839,3870461490,21662.500000,1,4,0,6,1,210.000000
69840,3870461490,21693.333333,1,1,16,6,1,240.833333
69841,3870461490,21701.666667,1,3,16,6,1,249.166667
69842,3870461490,21737.500000,1,2,16,6,1,285.000000
69843,3870461490,21662.500000,1,4,0,6,2,211.666667
69844,3870461490,21693.333333,1,1,16,6,2,242.500000
69845,3870461490,21701.666667,1,3,16,6,2,250.833333
69846,3870461490,21737.500000,1,2,16,6,2,286.666667
69847,3870461490,21662.500000,1,4,0,6,3,207.500000
69848,3870461490,21693.333333,1,1,16,6,3,238.333333
69849,3870461490,21701.666667,1,3,16,6,3,246.666667
69850,3870461490,21737.500000,1,2,16,6,3,282.500000
69851,3870461490,21662.500000,1,4,0,6,4,203.333333
69852,3870461490,21693.333333,1,1,16,6,4,234.166667
69853,3870461490,21701.666667,1,3,16,6,4,242.500000
69854,3870461490,21737.500000,1,2,16,6,4,278.333333