In [5]:
import os
import numpy as np
import pandas as pd
from scipy import interpolate
import glob

In [6]:
#identify mutiple events inside the same orbit

def Identify_Events(x):
    
    if (x.t.max() - x.t.min()) < 415:
    
        x['EVENT'] = 1
        return x
    
    else:
        
        t1 = x.t.iloc[0]
        x1 =  x[np.abs(x.t.values - t1) < 415]
        x1['EVENT'] = 1
        
        xc = x[np.abs(x.t.values - t1) >= 415]
        i = 1
        while(xc.size != 0):
            
            i += 1
            t2 = xc.t.iloc[0]
            x2 =  xc[np.abs(xc.t.values - t2) < 415]
            x2['EVENT'] = i
            x1 = pd.concat([x1,x2])
            xc = xc[np.abs(xc.t.values - t2) >= 415]
        
        return x1

In [7]:
#define the function that for esch orbit return the orbit with the values that have difference with the time of the 
#TDC_channel 137 or 138 less than the T_max 
#ridondance in the triggers (the sames in different ambiguity), will be solved later
#computing the drift time

#define the function that for esch orbit return the orbit with the values that have difference with the time of the 
#TDC_channel 139 less than the T_max 
#ridondance in the triggers (the sames in different ambiguity), will be solved later
#computing the drift time

def Time_Max_Filer(x):
    
        if (x.DETECTOR==0).sum() == 0:
            
            return None
            
        if (x.DETECTOR==0).sum() == 1:
        
            trigger_time = x[x.DETECTOR==0].t.values[0]
            x1 =  x[(x.t.values - trigger_time < 415)*(x.t.values - trigger_time > -25)]
            x1['AMBIGUITY'] = 1
            x1['DRIFT_TIME'] = x1.t.values - trigger_time
            
            return x1
            
        else:
                
            trigger_time = x[x.DETECTOR==0].t.values[0]
            x1 =  x[(x.t.values - trigger_time < 415)*(x.t.values - trigger_time > -25)]
            x1['AMBIGUITY'] = 1
            x1['DRIFT_TIME'] = x1.t.values - trigger_time
            
        
            i = 1
            for trigger_time in x[x.DETECTOR==0].t.values[1:]:
                i += 1
                x2 =  x[(x.t.values - trigger_time < 415)*(x.t.values - trigger_time > -25)]
                x2['AMBIGUITY'] = i
                x2['DRIFT_TIME'] = x2.t.values - trigger_time
                
                x1 = pd.concat([x1,x2])
                
            return x1

In [8]:
DataFrames = []

In [ ]:
for filename in glob.glob('../../data/Run000260/*')[:1]:
    
    try:
        data = pd.read_csv(filename)

        #adding time column
        data['t'] = data['BX_COUNTER']*25 + data['TDC_MEAS']*25/30


        #List of conditions to assign a hit to a detector
        fpga = data['FPGA'] == 1 
        channel = (data['TDC_CHANNEL'] > 64) & (data['TDC_CHANNEL'] <= 128) #condition on TDC_CHANNEL
        trigger = data['TDC_CHANNEL'] >= 129 

        conditions = [trigger, ~fpga & ~channel, ~fpga & channel, fpga & ~channel, fpga & channel]
        values = [0, 1, 2, 3, 4]

        #adding detector column
        data['DETECTOR'] = np.select(conditions, values)


        #List of conditions to assign a hit to a layer
        layer_4 = data['TDC_CHANNEL']%4 == 0 
        layer_3 = (data['TDC_CHANNEL'] + 2) % 4 == 0
        layer_2 = (data['TDC_CHANNEL'] + 1) % 4 == 0
        layer_1 = (data['TDC_CHANNEL'] + 3) % 4 == 0
        trigger = data['TDC_CHANNEL'] >= 129 

        #adding layer column
        conditions = [trigger, layer_4, layer_3, layer_2, layer_1]
        values = [0, 4, 3, 2, 1]

        data['LAYER'] = np.select(conditions, values)

        #add column coordinate of the cell
        data['COLUMN'] = ((data['TDC_CHANNEL'] % 64 
                   - interpolate.BarycentricInterpolator([1,2,3,4],[1,3,2,4])(data['LAYER'])) / 4 + 1).astype(int)

        #set column value to 0 when trigger is activate
        data.loc[data['DETECTOR'] == 0, 'COLUMN'] = 0
    
        #i consider orbit only with scintillators, i drop other trigger raws
        data_139 = data.groupby('ORBIT_CNT', group_keys=False).filter(lambda x: 139 in x.TDC_CHANNEL.values)
        data_139 = data_139[data_139['TDC_CHANNEL'] != 130]
        data_139 = data_139[data_139['TDC_CHANNEL'] != 129]
        data_139 = data_139[data_139['TDC_CHANNEL'] != 138]
        data_139 = data_139[data_139['TDC_CHANNEL'] != 137]

        #adding events column
        data_139 = data_139.groupby('ORBIT_CNT', group_keys=False).apply(Identify_Events)
        
        #filtering again events for trigger 139 activation
        data_139 = data_139.groupby(['ORBIT_CNT','EVENT'], group_keys=False).filter(lambda x: 139 in x.TDC_CHANNEL.values)

        #look at the function
        data_139 = data_139.groupby(['ORBIT_CNT', 'EVENT'], group_keys=False).apply(Time_Max_Filer)

        #dropping trigger events
        data_139 = data_139[data_139['DETECTOR'] != 0]

        #dropping events with number of hits hit less than 3 (ambiguity not solvable)
        data_139 = data_139.groupby(['ORBIT_CNT', 'EVENT', 'AMBIGUITY', 'DETECTOR']).filter(lambda x: len(x) >= 3)

        #dropping some columns
        data_139 = data_139.drop(['HEAD', 'FPGA', 'TDC_CHANNEL', 'BX_COUNTER', 'TDC_MEAS'], axis = 1)
        
        DataFrames.append(data_139)
        
        
    except:
        None

In [ ]:
pd.concat(DataFrames)

In [7]:
pd.concat(DataFrames).to_csv('../../data/Run000260/data_139.txt', index = False)

In [10]:
pd.read_csv('../../data/Run000260/data_139.txt')

,ORBIT_CNT,t,DETECTOR,LAYER,COLUMN,EVENT,AMBIGUITY,DRIFT_TIME
0,1933476862,52487.500000,3,1,6,1,1,112.500000
1,1933476862,52525.000000,3,4,8,1,1,150.000000
2,1933476862,52429.166667,3,1,7,1,1,54.166667
3,1933476946,65314.166667,3,2,14,1,1,39.166667
4,1933476946,65410.000000,3,1,15,1,1,135.000000
5,1933476946,65443.333333,3,3,15,1,1,168.333333
6,1933476976,84795.833333,3,1,2,2,1,45.833333
7,1933476976,84821.666667,3,2,2,2,1,71.666667
8,1933476976,84841.666667,4,2,4,2,1,91.666667
9,1933476976,84860.833333,3,4,2,2,1,110.833333
10,1933476976,84825.000000,4,3,5,2,1,75.000000
11,1933476976,84835.833333,4,4,1,2,1,85.833333
12,1933476976,84890.833333,4,1,2,2,1,140.833333
13,1933476976,84807.500000,4,3,2,2,1,57.500000
14,1933476976,84968.333333,4,2,1,2,1,218.333333
15,1933477019,33708.333333,4,4,7,1,1,-16.666667
16,1933477019,33812.500000,4,3,7,1,1,87.500000
17,1933477019,33958.333333,4,2,6,1,1,233.333333
18,1933477019,33936.666667,4,4,6,1,1,211.666667
19,1933477032,11790.833333,4,1,6,1,1,-9.166667
20,1933477032,11899.166667,3,2,6,1,1,99.166667
21,1933477032,11780.000000,3,3,7,1,1,-20.000000
22,1933477032,11919.166667,4,2,6,1,1,119.166667
23,1933477032,12004.166667,3,1,7,1,1,204.166667
24,1933477032,11945.000000,4,4,6,1,1,145.000000
25,1933477044,16147.500000,4,3,5,1,1,47.500000
26,1933477044,16257.500000,4,4,5,1,1,157.500000
27,1933477044,16256.666667,4,2,5,1,1,156.666667
28,1933477044,43710.833333,3,2,6,2,1,85.833333
29,1933477044,43650.833333,3,1,7,2,1,25.833333
...,...,...,...,...,...,...,...,...
678747,1941367892,35366.666667,4,1,5,1,1,91.666667
678748,1941367892,35457.500000,3,4,2,1,1,182.500000
678749,1941367892,35381.666667,4,3,5,1,1,106.666667
678750,1941367892,35505.000000,3,4,5,1,1,230.000000
678751,1941367892,35449.166667,4,2,4,1,1,174.166667
678752,1941367892,35507.500000,3,2,2,1,1,232.500000
678753,1941367892,35500.000000,3,2,5,1,1,225.000000
678754,1941367892,35405.000000,4,4,4,1,1,130.000000
678755,1941368043,70025.833333,3,1,6,1,1,0.833333
678756,1941368043,70040.000000,4,1,9,1,1,15.000000
678757,1941368043,70207.500000,3,3,10,1,1,182.500000
678758,1941368043,70270.833333,3,2,6,1,1,245.833333
678759,1941368043,70041.666667,4,3,9,1,1,16.666667
678760,1941368043,70239.166667,4,3,7,1,1,214.166667
678761,1941368043,70240.000000,4,2,8,1,1,215.000000
678762,1941368043,70311.666667,4,3,7,1,1,286.666667
678763,1941368043,70203.333333,4,4,8,1,1,178.333333
678764,1941368043,70319.166667,4,4,8,1,1,294.166667
678765,1941368159,64781.666667,4,4,5,1,1,6.666667
678766,1941368159,64905.000000,4,2,5,1,1,130.000000
678767,1941368159,64948.333333,4,2,4,1,1,173.333333
678768,1941368174,84371.666667,4,1,14,1,1,-3.333333
678769,1941368174,84441.666667,4,4,14,1,1,66.666667
678770,1941368174,84613.333333,4,2,14,1,1,238.333333
678771,1941368174,84640.000000,3,4,15,1,1,265.000000
678772,1941368174,84653.333333,4,2,13,1,1,278.333333
678773,1941368174,84471.666667,3,4,10,1,1,96.666667
678774,1941368174,84674.166667,3,2,16,1,1,299.166667
678775,1941368174,84522.500000,3,1,10,1,1,147.500000
678776,1941368174,84548.333333,3,3,11,1,1,173.333333